@model OATemplate.Models.Template

<form action="/Template/PublicationSelected" method="post">
    <select name="Publication">
        <option value="1" name="1">BTT1019</option>
        <option value="2" name="2">BTT1018</option>
        <option value="3" name="3">BTT1017</option>
        <option value="4" name="4">BTT1016</option>
    </select>
    <input type="submit">
</form>

