@model OATemplate.Models.Template


Vald produkt: <b>@Html.DisplayFor(modelItem => modelItem.Publication)</b><br />
Antal BS sidor: <b>20</b><br />
<br />
Välj template:
<form action="/action_page.php">
    <select name="Template">
        <option value="1" name="1">14_D_T12ABC-T13</option>
        <option value="2" name="2">14_D_T12ABC-T14</option>
        <option value="3" name="3">14_D_T12-T13[ABC]</option>
        <option value="4" name="4">14_D_T12-T13[BCD]</option>
        <option value="5" name="5">26=16+10_D_R1a-12-13-14_OLIKA-PAPPER</option>
    </select>
    <input type="submit">
</form>
